# Docker Compose:
DOCKER_COMPOSE=./docker-compose.yml
POSTGRESQL_VOLUME_PATH=./data/postgresql

# Timezone:
TIMEZONE=UTC

# PostgreSQL:
POSTGRESQL_DATABASE=cv-db
POSTGRESQL_USER=your_postgresql_user
POSTGRESQL_PASSWORD=your_postgresql_password
POSTGRESQL_HOST=postgresql
POSTGRESQL_PORT=5432

# AI
GOOGLE_AI_API_KEY=your_google_ai_api_key
