# Docker Compose:
DOCKER_COMPOSE=./docker-compose.yml
POSTGRESQL_VOLUME_PATH=./data/postgresql


# PostgreSQL:
POSTGRESQL_DATABASE=cv-db
POSTGRESQL_USER=your_postgresql_user
POSTGRESQL_PASSWORD=your_postgresql_password
POSTGRESQL_ROOT_PASSWORD=your_postgresql_root_password
POSTGRESQL_HOST=postgresql
POSTGRESQL_PORT=5432